.mainTitle {
  max-width: 370px;
  margin-top: 107px;
}

.greyTitle {
  color: #e3e3e380;
}
.formContainer {
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 40px 92px 40px 64px;

  flex-wrap: wrap;
}

.labelInputForm {
  margin-bottom: 14px;
  display: block;
}
.labelInputLast {
  margin-bottom: 82px;
  display: block;
  position: relative;
}
.iconInput {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.input {
  width: 472px;
  height: 50px;
  background-color: #262626;
  color: #f9f9f9;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding-left: 14px;
}
.input::placeholder {
  padding-left: 14px;
}
.button {
  font-family: Gilroy;
  border-radius: 30px;

  height: 52px;
  background: #141414;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;

  color: #f9f9f9;
  cursor: pointer;
  width: 225px;
}
.button:hover,
.button:focus {
  background-color: #f9f9f9;
  color: #1f1f1f;
}
.description {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #686868;
  margin: 0 auto;
  text-decoration: underline;
}
.description:hover,
.description:focus {
  color: #f9f9f9;
}
.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-text);
}
.buttonLink {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainTitle {
    max-width: 444px;
    margin-top: 180px;
  }
  .formContainer {
    padding: 40px 196px 214px 64px;
  }
}
