.phoneDiv {
  border-radius: 30px;
  width: 600px;
  height: 834px;
  flex-shrink: 0;
  background-color: #1f1f1f;
  margin-left: 16px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: image-set(
    url("/img/iPhone-1x-desktop.png") 1x,
    url("/img/iPhone-2x-desktop.png") 2x
  );
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .phoneDiv {
    display: none;
  }
}

@media (max-width: 767px) {
  .phoneDiv {
    flex-direction: column;
    gap: 10px;
    margin: 10px 20px;

    width: 335px;
    height: 351px;
    background-image: image-set(
      url("/img/iPhone15Black-1xmobile.png") 1x,
      url("/img/iPhone15Black-2xmobile.png") 2x
    );
  }
}
